@import "mediasizes";

.vizGrid {
  width: 85vw;
  height: fit-content;
  // height: 50rem;
  margin: 2rem auto 8rem; 
  
  .spacer {
    width: 100%;
    height: 6rem;
  }
  
  iframe {
    margin: 0 auto;
  }
}

.viz3Container {
  width: 100%;
  padding-top: 4rem;

  iframe {
    margin: 0 auto;
  }
}