@import "mediasizes";

.vizGrid {
  // background-color: pink;
  width: 85vw;
  height: 50rem;
  margin: 2rem auto 8rem; 
}

.viz3Container {
  width: 100%;
  padding-top: 4rem;
  
  iframe {
    margin: 0 auto;
  }
}