@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}

$sans-serif-font: 'Open Sans', sans-serif;
$script-font: 'Dancing Script', cursive;
$vy-blue-regular: #64d5f8;
$vy-blue-light: #7de4ff;

body {
  // background-color: red;
  margin: 0;
  font-family: $sans-serif-font;

  @include smallerMedia {
    background-color: green;
  }
}

a {
  text-decoration: none;
}

.paragraphContainer {
  width: 70%;
  padding-left: 1rem;
}