@import url('https://rsms.me/inter/inter.css');
// html { font-family: 'Inter', sans-serif; }
// @supports (font-variation-settings: normal) {
  // html { font-family: 'Inter var', sans-serif; }
// }

@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}

body {
  // background-color: red;
  margin: 0;

  @include smallerMedia {
    background-color: green;
  }
}

a {
  text-decoration: none;
}

.paragraphContainer {
  width: 70%;
  padding-left: 1rem;
}