@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}

.header {
  background-color: #2891B5;
  width: 100%;
  height: 4rem;
  overflow: auto;
  z-index: 3;

  %basicBurger {
    float: left;
    margin: 1.5rem 0.5rem 1.5rem 1rem;
    width: 2rem;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    div {
      background-color: rgb(166, 233, 255);
      width: 100%;
      border-radius: 12%;
      height: 15%;
    }
  }

  %burgerFocused {
    div {
      background-color: rgb(189, 238, 255);
      box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.151);
    }
  }

  .burger {
    @extend %basicBurger;
  }

  .burger:hover {
    @extend %burgerFocused;
  }

  .burgerActive {
    @extend %basicBurger;
    @extend %burgerFocused;
  }

  .titleContainer {
    display: inline-block;
    margin: 0.5rem;
    margin-left: 2rem;
    height: 3rem;
    width: 10rem;

    h1 {
      margin-block-start: 0.4rem;
      margin-block-end: 0;
      color: white;
    }
  }
}



main {
  background-color: rgb(255, 185, 185);
  width: 94vw;
  margin: 0 auto;

  @include smallerMedia {
    // background-color: green;
  }
}