@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}

$sans-serif-font: 'Open Sans', sans-serif;
$script-font: 'Dancing Script', cursive;
$vy-blue-regular: #64d5f8;
$vy-blue-light: #7de4ff;
$kevin-blue-light: #e9f3ff;


.header {
  background-color: $vy-blue-regular;
  width: 100%;
  height: 4rem;
  overflow: auto;
  z-index: 3;

  %basicBurger {
    float: left;
    margin: 1.5rem 0.5rem 1.5rem 1rem;
    width: 2rem;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    div {
      background-color: rgb(255, 255, 255);
      width: 100%;
      border-radius: 12%;
      height: 15%;
    }
  }

  %burgerFocused {
    div {
      background-color: $kevin-blue-light;
      box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.151);
    }
  }

  .burger {
    @extend %basicBurger;
  }

  .burger:hover {
    @extend %burgerFocused;
  }

  .burgerActive {
    @extend %basicBurger;
    @extend %burgerFocused;
  }

  .titleContainer {
    display: inline-block;
    margin: 0.5rem;
    margin-left: 2rem;
    height: 3rem;
    // width: 10rem;

    h1 {
      margin-block-start: 0.2rem;
      margin-block-end: 0;
      color: white;
      font-family: $script-font;
    }
  }
}



main {
  // background-color: rgb(255, 185, 185);
  width: 94vw;
  min-height: fit-content;
  height: 94vh;
  margin: 0 auto;
  padding-top: 1rem;

  @include smallerMedia {
    // background-color: green;
  }
}