@import "mediasizes", "typecolor";

$header-color: white;
$title-color: black;



.header {
  // position: absolute;
  background-color: $header-color;
  width: 100%;
  height: 8.2rem;
  overflow: auto;
  z-index: 3;
  padding-top: 0.5rem;

  @include smallerMedia {
    height: 58px;
    padding-top: 0;
  }

  .titleContainer {
    display: inline-block;
    margin-top: 2.8rem;
    margin-left: 8.4rem;
    height: 3rem;

    h1 {
      margin-block-start: 0.5rem;
      margin-block-end: 0;
      font-size: 48px;
      color: $title-color;
      font-family: $script-font;
    }
  }

  .navLinkContainer {
    float: right;
    margin-top: 5rem;
    margin-right: 4rem;
    display: flex;
    // width: 40rem;
    // height: 10rem;
    // background-color: pink;  

    @include smallerMedia {
      display: none;
    }
  }
}

.navLink {
  margin: 0 1rem;
  width: 9rem;
  height: 1.25rem;
  font-weight: lighter;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: 0.05rem;
  color: black; 

  // background-color:green;
}

.navLinkActive {
  @extend .navLink;
  font-weight: bold;
}



main {
  // background-color: rgb(255, 185, 185);
  min-height: 94vh;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 17.25rem;

  @include smallerMedia {
    padding-bottom: 133px;
  }
}

.footer {
  background-color: $mockup-blue-dark;
  width: 100%;
  height: 28rem;
  text-align: center;

  img {
    width: 89px;
    height: 60px;
    margin: 6rem 0 10px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: white;

    a {
      color: white;
      font-weight: lighter;
    }
    
    a:hover {
      color: $mockup-blue-regular
    }
  }
}