@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}


///////////////////////////////////////////////////////////
//////////////////////   DARK MODAL   //////////////////////
///////////////////////////////////////////////////////////

%dark-modal-basic {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.dark-modal, .dark-modal-exit-done {
  opacity: 0;
}

.dark-modal-enter {
  opacity: 0;
  @extend %dark-modal-basic;
}
.dark-modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
  @extend %dark-modal-basic;
}
.dark-modal-enter-done, .dark-modal-exit {
  opacity: 1;
  @extend %dark-modal-basic;
}

.dark-modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
  @extend %dark-modal-basic;
}


///////////////////////////////////////////////////////////
//////////////////////   SIDE MENU   //////////////////////
///////////////////////////////////////////////////////////

%side-menu-basic {
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 18rem;
  background-color: rgb(31, 115, 143);
  padding: 2rem;
  box-sizing: border-box;

  @include smallerMedia {
    width: 100%;
    height: fit-content;
  }
}

.side-menu, .side-menu-exit-done {
  opacity: 0;
  height: 0;
  width: 0;
}

.side-menu.side-menu-enter {
  opacity: 0;
  @extend %side-menu-basic;
}

.side-menu.side-menu-enter-active {
  opacity: 1;
  @extend %side-menu-basic;
}

.side-menu.side-menu-enter-done, .side-menu.side-menu-exit {
  opacity: 1;
  @extend %side-menu-basic;
}

.side-menu.side-menu-exit-active {
  opacity: 0;
  @extend %side-menu-basic;
}


///////////////////////////////////////////////////////////
//////////////////////   MENU LINKS   //////////////////////
///////////////////////////////////////////////////////////

.linkContainer {
  // background-color:Red;
  margin-bottom: 2rem;
  
  @include smallerMedia {
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
}