@import "mediasizes" ,"typecolor";

@mixin laptopMedia {
  @media (max-width:1260px) {
    @content
  }
}

.imgContainer {
  background-repeat: no-repeat;
}

.tipListContainer {
  display: flex;
  flex-direction: column;
  
  margin: 7.375rem 0 13.75rem;

  .tipContainer {
    width: 67.25rem;
    height: 27.25rem;
    margin: 0 auto 8.44rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.375rem;

    .text {
      h4 {
        font-size: 24px;
        color: $mockup-blue-textAccent;
        margin-block-start: 7.5rem;
        margin-block-end: 1rem;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin-block-start: 1rem;
      }
    }

    .tip1Exercise {
      @extend .imgContainer;
      background-image: url(../images/resources-tips-1-exercise.jpg);
      background-size: 958.76px 639.54px;
      background-position: -15.6rem -6rem;
    }

    .tip2SocialConnection {
      @extend .imgContainer;
      background-image: url(../images/resources-tips-2-social-connection.jpg);
      background-size: 755.21px 504.96px;
      background-position: -12.6rem -4.3rem;
    }

    .tip3Inspiration {
      @extend .imgContainer;
      background-image: url(../images/resources-tips-3-inspiration.jpg);
      background-size: 660px 436px;
      background-position: -8.3rem;
    }

    @include laptopMedia {
      width: 100%;
    }

    @include mediumMedia {
      
    }
  }
  
  @include laptopMedia {
    width: 95%;
    margin: 7.375rem auto 13.75rem;
  }
}

.trendingListContainer {
  width: 1259px;
  height: 520px;
  margin: 7.375rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;

  .trendingItemContainer {
    color: black;
    width: 401px;

    h5 {
      color: black;
      font-size: 1.5rem;
      margin-block-start: 1rem;
      margin-block-end: 0.5rem;
    }

    p {
      color: black;
      margin-block-start: 0;
      font-weight: lighter;
    }

    @include laptopMedia {
      width: 100%;
    }

    .trendingImg {
      @extend .imgContainer;
      width: 401px;
      height: 359px;

      @include laptopMedia{
        width: 100%;
      }
    }

    .trending1 {
      @extend .trendingImg;
      background-image: url(../images/resources-trending-1.jpg);
      background-size: 538px 359px;
      background-position: center;
    }

    .trending2 {
      @extend .trendingImg;
      background-image: url(../images/resources-trending-2.jpg);
      background-size: 404px 404px;
      background-position: center;
    }

    .trending3 {
      @extend .trendingImg;
      background-image: url(../images/resources-trending-3.jpg);
      background-size: 401px 600.39px;
      background-position: center;
    }
  }

  .trendingItemContainer:hover .trendingImg {
    filter: brightness(1.1);
    transition: 0.3s ease
  }

  .trendingItemContainer:hover h5 {
    text-decoration: underline;
  }

  @include laptopMedia {
    width: 95%;
  }
}