@import "mediasizes", "typecolor";

.section {
  width: 55.75rem;
  margin: 0 auto;
  // text-align: center;
  
  h3 {
    font-size: 36px;
    margin-block-end: 0;
    text-align: center;
    color: $mockup-blue-textAccent;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-block-start: 1.5rem;
  }
}

.divider {
  width: 4.5rem;
  height: 5px;
  background-color: $mockup-blue-textAccent;
  margin: 5.75rem auto 6.75rem;
}