@import "mediasizes", "typecolor";

@mixin largeMedia {
  @media (min-width: 1600px) {
    @content
  }
}

.container {
  width: 100%;
  height: 25.5rem;
  margin-bottom: 5.25rem;

  // position: absolute;
  // display: inline-block;

  @include smallerMedia {
    height: 550px;
    margin-bottom: 3rem;
  }

}

.imgContainer {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

  // @include smallerMedia {
  //   height: 
  // }
}

.home {
  @extend .imgContainer;
  background-image: url('../images/homepage-banner.jpg');
  background-size: 101rem;
  background-position-x: center;
  background-position-y: -21rem;
  filter: brightness(0.6);
  
  @include largeMedia {
    background-size: 100%;
    background-position-y: 42%;
  }
}

.resources {
  @extend .imgContainer;
  background-image: url('../images/resources-banner.jpg');
  background-size: 90.25rem 60rem;
  background-position-x: 25%;
  background-position-y: -21.5rem;
  filter: brightness(0.38);
  
  @include largeMedia {
    background-size: 120%;
    background-position-x: -10rem;
    background-position-y: 70%;
  }
}

.aboutUs {
  @extend .imgContainer;
  background-image: url('../images/about-us-banner.jpg');
  background-size: 97rem;
  background-position-x: 4%;
  background-position-y: -17.5rem;
  filter: brightness(0.5);
  
  @include largeMedia {
    background-size: 100%;
    background-position-x: -10%;
    background-position-y: 52%;
  }
}

.textContainer {
  overflow: auto;
  width: 34.25rem;
  height: 240px;
  position: absolute;
  top: 16.25rem;
  left: 11.25rem;

  font-size: 1.5rem;
  color: white;

  @include mediumMedia {
    left: 18%;
  }

  @include smallerMedia {
    top: 14.25rem;
    left: 8%;
    height: 300px;
    width: 250px;
  }

  h2 {
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    margin-block-start: 0.25rem;
    margin-block-end: 0;
    // line-height: 2rem;
  }

  .button {
    background-color: $mockup-blue-regular;
    width: 9.375rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    
    border: none;
    color: white;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(26, 178, 238);
    // text-shadow: 0 0 4px rgba(255, 255, 255, 0.521);
    transition: 0.2 ease-in;
  }
}